 #page-create-point{
     width:90%;
     max-width:1100px;

     margin: 0 auto;    /*alinhamento de caixa (pelo lado de fora da caixa)*/
}

#page-create-point header{
    margin-top: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

#page-create-point header a span {

    margin-right: 16px;

    background-image: url('../assets/arrow-left.svg');
    display: flex;

    width: 20px;
    height: 24px;
}

form{
    background-color: white;
    
    margin: 80px auto;
    /* margin-top: 80px; sobrescre */
    padding: 64px;                /* preenchimento */

    border-radius: 8px;

    max-width: 730px;

    /* box-sizing: border-box;     impedir o aumento da caixa */


}