@media(max-width: 900px){  /* responsivo */

    #page-home {
        background-position-x: 70vw; /* retira a imagem, pra não encavalar  */
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home header a{
        position: absolute; /* duas folhas, uma em cima da outra */
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main{
        align-items: center;
    }

    #page-home main h1{    /* adaptação */
        font-size: 32px;
    }
}

@media(min-width: 1700px){
    #page-home {
        background-position-x: 40vw; /* retira a imagem, pra não encavalar  */
    }
}
@media (max-height: 760px) {
    #page-home{
        background-position-y: 200px;
    
    }
}


